<%= form_for @wx_user, :html => { :class => "form-horizontal wx_user" } do |f| %>

  <% if @wx_user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@wx_user.errors.count, "error") %> prohibited this wx_user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @wx_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :mobile, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :mobile, :class => 'form-control' %>
    </div>
    <%=f.error_span(:mobile) %>
  </div>
  <div class="form-group">
    <%= f.label :wx_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :wx_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:wx_name) %>
  </div>
  <div class="form-group">
    <%= f.label :money, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :money, :class => 'form-control' %>
    </div>
    <%=f.error_span(:money) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                wx_users_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
